html,
body {
  height: 100%;
  min-height: 600px;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-rows: 95% 5%;
  grid-gap: 5px;
  font-family: "Inter", sans-serif;
}
:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}
.bg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.bg img {
  width: 100%;
}
.pattern-top,
.pattern-medium,
.bg .pattern-bottom {
  display: flex;
  justify-content: center;
}
.pattern-top {
  align-items: center;
  z-index: -1;
  position: absolute;
  top: 8px;
}
.pattern-top img {
  width: 310px;
  height: 300px;
}
.pattern-medium {
  align-items: flex-start;
  z-index: -1;
  width: 100%;
  position: absolute;
  top: -30px;
}
.pattern-medium img {
  width: 62px;
  height: 50px;
}
.bg .pattern-bottom {
  align-items: flex-end;
}
.bg .pattern-bottom img {
  width: 100%;
  height: 100px;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
}
#john-art {
}
#tanya-art {
  display: none;
}

.main > article {
  display: grid;
  width: 90%;
  min-height: 600px;
  max-width: 370px;
  margin: 0 auto;
}
.header-box {
  width: 100%;
  position: relative;
}
.header-box .image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
}
.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.change-image-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}
.change-image-container .change-image {
  width: 80px;
  height: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 13px 18px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.change-image-container .change-image button {
  background: none;
  border: none;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change-image-container .change-image button img {
  height: 13px;
  width: 10px;
}

/*content box*/
.content-box .container {
  position: relative;
}
.content-box .desc p {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  padding: 0 10px;
  color: var(--dark-blue);
}
.content-box .info {
  text-align: center;
  font-size: 15.5px;
  color: var(--grayish-blue);
}
.content-box .info h1 {
  font-size: 16px;
  color: var(--dark-blue);
  margin-bottom: 3px;
}

footer {
  font-size: 12px;
  text-align: center;
}

/*Animations*/
.animate__animated.animate__fadeInRight,
.animate__animated.animate__fadeInLeft {
  --animate-duration: 0.4s;
}

/***  RESPONSIVE ***/
@media only screen and (min-height: 900px) {
  .bg .pattern-medium img {
    margin-top: 15px;
  }
  .main > article {
    max-width: 385px;
  }
  .header-box .image {
    width: 300px;
    height: 300px;
    margin-top: 0;
  }
  .content-box .desc p {
    font-size: 25px;
  }
  .content-box .info {
    font-size: 20px;
  }
  .content-box .info h1,
  footer {
    font-size: 22px;
  }
}
@media only screen and (min-width: 888px) {
  .main > article {
    grid-template-columns: 1fr 340px;
    min-height: 0px;
    width: 82%;
    max-width: 770px;
    position: relative;
  }
  .main > article .header-box {
    grid-area: 1 / 2;
  }
  .main > article .content-box {
    grid-area: 1 / 1;
    position: absolute;
    max-width: 485px;
    margin-top: 70px;
  }
  .main > article .header-box .image {
    width: 100%;
    height: 100%;
    max-height: 340px;
    margin: 0;
  }
  .pattern-top {
    width: 440px;
    height: 410px;
    top: -40px;
    left: -40px;
  }
  .pattern-top img {
    width: 100%;
    height: 100%;
  }
  .main > article .header-box .change-image-container {
    justify-content: start;
  }
  .change-image-container .change-image {
    left: 45px;
  }
  .main > article .content-box {
    display: flex;
    align-items: center;
  }
  .pattern-medium {
    justify-content: left;
  }
  .pattern-medium img {
    width: 95px;
    height: 80px;
    margin-left: 72px;
  }
  .content-box .desc p,
  .content-box .info {
    text-align: left;
    padding: 0;
  }
  .content-box .desc p {
    font-size: 24px;
    line-height: 32px;
  }
  .content-box .info {
    display: flex;
    align-items: center;
  }
  .content-box .info h1,
  .content-box .info span {
    margin-top: 0;
  }
  .content-box .info h1 {
    margin-right: 10px;
  }
  .animate__animated.animate__fadeInRight,
  .animate__animated.animate__fadeInLeft {
    --animate-duration: 1s;
  }
}

